.PokeTypeBadge
    display inline-block
    width 100px
    height 45px
    margin 0 10px
    border-radius 30px
    background-color gray

.PokeTypeBadge--normal
    background-color #A8A878
.PokeTypeBadge--fire
    background-color #F08030
.PokeTypeBadge--fighting
    background-color #C03028
.PokeTypeBadge--water
    background-color #6890F0
.PokeTypeBadge--flying
    background-color #A890F0
.PokeTypeBadge--grass
    background-color #78C850
.PokeTypeBadge--poison
    background-color #A040A0
.PokeTypeBadge--electric
    background-color #F8D030
.PokeTypeBadge--ground
    background-color #E0C068
.PokeTypeBadge--psychic
    background-color #F85888
.PokeTypeBadge--rock
    background-color #B8A038
.PokeTypeBadge--ice
    background-color #98D8D8
.PokeTypeBadge--bug
    background-color #A8B820
.PokeTypeBadge--dragon
    background-color #7038F8
.PokeTypeBadge--ghost
    background-color #705898
.PokeTypeBadge--dark
    background-color #705848
.PokeTypeBadge--steel
    background-color #B8B8D0
.PokeTypeBadge--fairy
    background-color #EE99AC

.PokeTypeBadge-wrapper
    display flex
    flex-fow row wrap
    justify-content center
    align-items center
    align-content center
    width 100%
    height 100%


.PokeTypeBadge-name
    letter-spacing 0.05em
    color white
    text-transform uppercase
    font-weight 700
