.Icon
    display inline-block
    font-family "icons"
    color currentColor

.Icon--ball
    &:before
        content "\f12a"

.Icon--ballMinus
    &:before
        content "\f131"

.Icon--ballCheck
    &:before
        content "\f12b"

.Icon--more
    &:before
        content "\f101"

.Icon--close
    &:before
        content "\f125"
