.PokeSelector
    display inline-block
    width auto
    margin 0
    margin-bottom 20px

.PokeSelector--centered
    margin-left auto
    margin-right auto

.PokeSelector-input
    width 290px
    margin-right 10px
