.Popup
    position fixed
    overflow hidden
    left 50%
    top 50%
    width 1200px
    padding-bottom 50px
    transform translate(-50%, -50%)
    border-radius 25px
    background-color #fff

.Popup-close
    position absolute
    right 20px
    top 20px
