.App
    position relative
    display flex
    flex-direction row
    flex-wrap wrap
    align-content flex-start
    overflow auto
    height 100%
    width 100%
    font-family 'Roboto', sans-serif
    background-color  #232323
