.PokemonDisplay
    position relative
    display flex
    flex-flow column wrap
    justify-content space-between
    width 196px
    height @width
    margin 20px
    cursor pointer
    background-color #525252
    user-select none

.PokemonDisplay-img
    display block
    max-width 50%
    max-height 50%
    margin 0 auto
    transform-origin center
    transition 0.3s ease-in-out

    .PokemonDisplay:hover &
        transform scale(1.3)

.PokemonDisplay-number
.PokemonDisplay-name
    display block
    margin 10px 0
    text-align center
    text-transform uppercase
    color #fff
